<section class='chat'>
	<div class='chat__wrap'>
		<div class='chat__sidebar'>
			<div class='chat__topbar'>
				{{{Button label='Профиль >' class='chat__profile' onClick=onClick}}}
				{{{Input
					class='chat__search'
					name='search'
					placeholder='Поиск'
					validate=validate.search
				}}}
				<p class='auth__error' id='search'></p>
			</div>
			<ul class='chat__list'>
				<li>{{{ChatItem
						name='Rick Sanchez'
						message='wassup'
						date='12:00'
					}}}</li>
			</ul>
		</div>
		<div class='chat__body'>
			{{{ChatHeader name='Rick Sanchez'}}}
			{{{ChatBody}}}
			{{{ChatFooter}}}
		</div>
	</div>
</section>
