<section class='chat'>
	<div class='chat__wrap'>
		<div class='chat__sidebar'>
			<div class='chat__topbar'>
				{{{ChatDialog}}}
				{{{Link label='Профиль >' class='chat__profile' to='/profile'}}}
				{{{Input
					class='chat__search'
					name='search'
					placeholder='Поиск'
					validate=validate.search
				}}}
				<p class='auth__error' id='search'></p>
			</div>
			<ul class='chat__list'>
				{{#each chats}}
					<li>
						{{{ChatItem title=title message=last_message.content onClick=../onClick user=this}}}
					</li>
				{{/each}}
			</ul>
		</div>
		<div class='chat__body'>
    {{#if selectedRoom }}
			{{{ChatHeader selectedRoom=selectedRoom onRemoveRoomById=onRemoveRoomById users=chatUsers}}}
			{{{ChatBody messages=messages}}}
			{{{ChatFooter selectedRoom=selectedRoom.id}}}
    {{else}}
      Выбрать чат
    {{/if}}
		</div>
	</div>
</section>
