<section class='auth'>
	<div class='auth__wrap'>
		<form class='form' onsubmit={{submit}}>
			<h2 class='form__title'>Вход</h2>
			<div class='auth__group'>
				{{{Input placeholder='Логин' name='login' validate=validate.login}}}
				<p class='auth__error' id='login'></p>
				{{{Input
					type='password'
					placeholder='Пароль'
					name='password'
					validate=validate.password
				}}}
				<p class='auth__error' id='password'></p>
			</div>

			{{{Button type='submit' label='Авторизоваться' class='auth__btn'}}}
			{{{Link label='Нет аккаунта?' class='auth__link' to='/sign-up'}}}
		</form>
	</div>
</section>
