<form onsubmit='{{submit}}'>
	<ul class='profile-list'>
		<li class='profile-item profile-list__item'>
			<span>Старый пароль</span>
			<div>
				<span class='profile-name'>{{{Input
						placeholder='**********'
						name='oldPassword'
						type='password'
						class='profile__input'
						validate=validate.oldPassword
					}}}</span>
				<p class='auth__error' id='oldPassword'></p>
			</div>
		</li>
		<li class='profile-item profile-list__item'>
			<span>Новый пароль</span>
			<div>
				<span class='profile-name'>{{{Input
						placeholder='**********'
						name='newPassword'
						type='password'
						class='profile__input'
						validate=validate.newPassword
					}}}</span>
				<p class='auth__error' id='newPassword'></p>
			</div>
		</li>
		<li class='profile-item profile-list__item'>
			<span>Повторите новый пароль</span>
			<div>
				<span class='profile-name'>{{{Input
						placeholder='**********'
						name='confirmPassword'
						class='profile__input'
						type='password'
						validate=validate.confirmPassword
					}}}</span>
				<p class='auth__error' id='confirmPassword'></p>
			</div>
		</li>
	</ul>

	{{{Button type='submit' label='Изменить' class='profile__save'}}}
</form>
